
.container-fluid {
  height: auto !important;
}


.active {
  background-color: #101010;
}

.customLink:hover {
  background-color: #1a1a1a !important;
  font-weight: 900 !important;

}

.customLogOut {
  background-color: #101010;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
  justify-content: space-between;

}

.custom {
  text-align: center;
  color: #3b3b3b  !important;
}

.nav-link {
  font-weight: 400 !important;
  color: #dadddd !important;
}

.custom-shadow {
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(3 84 88 / 23%) 0px 6px 6px;
}
.fa-headphones {
  color: #ffffff21;;
}
