<div style="height: 95vh;">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>

      <!-- Icon -->
      <div class="fadeIn first" style="margin-bottom: 4%;">
        <mat-icon matPrefix>people</mat-icon>
        <br>
        <br>
        <br>
        <h4 class="messageFromLocalAPI" *ngIf="!isLoading">{{messageFromAPI}}</h4>
      </div>


      <!-- Login Form -->


        <form #form="ngForm" [formGroup]="resetPassForm"(ngSubmit)="onSubmit()" *ngIf="!isLoading">

          <div class="from-group">
                <mat-form-field  appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="example@example.com" type="email" formControlName="email" id="email" required email>
                </mat-form-field>
            </div>

            <app-alert [message]="APIerror" *ngIf="APIerror" ></app-alert>


            <div style="margin-bottom: 4%;">
              <button class="btn LogInInternal" [disabled]="!resetPassForm.valid" >Reset Password</button>
              <br>
              <a class="nav-link underlineHover" [routerLink]="['/auth']" routerLinkActive="router-link-active" aria-current="page" >Back</a>


            </div>
        </form>

      <!-- Remind Passowrd -->



    </div>
  </div>
</div>

